.badge-success {
    background-color: #d4edda; /* Màu xanh nhạt */
    color: #155724; /* Màu chữ xanh đậm */
    padding: 0.5em 0.75em;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: 600;
  }
  
  .badge-warning {
    background-color: #fff3cd; /* Màu vàng nhạt */
    color: #856404; /* Màu chữ vàng đậm */
    padding: 0.5em 0.75em;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: 600;
  }
  
  .badge-danger {
    background-color: #f8d7da; /* Màu đỏ nhạt */
    color: #721c24; /* Màu chữ đỏ đậm */
    padding: 0.5em 0.75em;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: 600;
  }